@import "kouto-swiss"

@import "fonts"

@import "helpers"
@import "genericons"

@import "swiper"

meyer-reset()
box-sizing-reset()
normalize()

@import "grid"

// ***********************************************

// VARIABLES

$gutter = 14px

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 16px
$font-size-larger = 1.5rem

$font-leading-basic = 1.45
$font-leading-wide = 1.6

$font-tracking-basic = 0.005em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

$color-green = rgb(75, 176, 100)
$color-yellow = rgb(255, 222, 79)
$color-blue = rgb(76, 114, 158)

$border-width = 3px

$basic-animation-speed = 600ms
$fast-animation-speed = $basic-animation-speed / 2

// ***********************************************

// TYPOGRAPHY

body
  font-family: 'Ume P Mincho Regular', serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

.font-sans
  font-family: 'Ume UI Gothic O5', helvetica, sans-serif

.font-serif
  font-family: 'Ume P Mincho Regular', serif

.font-capitalize
  text-transform: capitalize

.font-uppercase
  text-transform: uppercase

.font-leading-wide
  line-height: $font-leading-wide

.font-pull-quote
  font-size: 2.3rem

.font-larger
  font-size: $font-size-larger

h1, h2, h3, h4, h5, h6
  margin: 0

h1, h2, h3
  font-family: 'Ume UI Gothic O5', helvetica, sans-serif
  margin: 0

// ***********************************************

// MEDIA QUERIES

grid(96%, $gutter, s)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  grid(680px, $gutter, m)

  .mobile-only
    display: none

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  grid(1000px, $gutter, l)

  .desktop-only
    display: initial

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)