@import "kouto-swiss"

@import "sanitize"
@import "helpers"
@import "fonts"

meyer-reset()
box-sizing-reset()
normalize()

$cols = 20
$col = 14px
$gutter = 10px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
  margin-bottom: 30px
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  box-sizing: content-box
  min-height: 1px

for col in 1..$cols
  .col-{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 656px)

  $col = 20px
  $gutter = 12px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
    margin-bottom: 30px
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)

  for col in 1..$cols
    .col-{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 993px)

  $col = 35px
  $gutter = 12px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
    margin-bottom: 30px
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)

  for col in 1..$cols
    .col-{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (max-width: 500px)

  .container
    width: 95%

  .col
    width: 100%
    margin: 0

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-basic = 20px
$font-leading-basic = 1.45em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)

$color-green = rgb(75, 176, 100)
$color-yellow = rgb(255, 222, 79)
$color-blue = rgb(76, 114, 158)

// TYPOGRAPHY

body
  font-family: 'ume_p', serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1,h2,h3,h4,h5,h6
  font-family: 'ume_ui', helvetica,arial,sans-serif
  font-weight: normal

h1
  font-size: 1.5em
  text-align: center
  color: $color-white-soft
  background-color: $color-green
  padding: 40px
  box-sizing: border-box

h3
  font-size: 1.35em
  text-transform: uppercase
  text-align: center
  margin-bottom: 20px

p
  margin-bottom: 20px


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

#logo
  height: 80px
  margin-top: 20px

.u-no-margin
  margin: 0

#footer
  color: $color-white-soft
  background-color: $color-green


// MEDIA QUERIES


// Medium grid break for tablet
//@media screen and (max-width: 993px)


// Small grid break for mobile
//@media screen and (max-width: 656px)
