$font-size-basic = 19px
$font-size-larger = 1.5rem

// ***********************************************

// TYPOGRAPHY

body
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

.font-leading-wide
  line-height: $font-leading-wide

.font-larger
  font-size: $font-size-larger

h1
  font-size: 3em
  line-height: $font-leading-basic

h2
  font-size: 2em
  line-height: $font-leading-basic

h3
  font-size: $font-size-larger
  line-height: $font-leading-basic

h3.rotated-heading
  padding: $margin-small

.copy
  padding: $margin-basic
  ul
    margin: $margin-basic

ol
  li
    margin-bottom: $margin-small
    &:before
      padding-right: $margin-small

// ***********************************************

// PADDING

.padding-basic
  padding: $margin-basic

.padding-small
  padding: $margin-small

// ***********************************************

// ARROWS

.arrow
  font-size: 1.7rem

// ***********************************************

// HEADER

#logo
  padding-top: $margin-tiny
  padding-bottom: $margin-tiny

.menu-item
  padding: 0 $margin-small
  font-size: 24px

#qtranslate-chooser
  padding-left: $margin-basic
  font-size: 15px

// ***********************************************

// PAGE

  // ABOUT US

.about-person
  margin-bottom: $margin-basic

// ***********************************************

// SINGLE JOURNAL



// SINGLE RECIPE

#single-recipe-ingredients-heading
  margin-top: $margin-basic

// ***********************************************

// SINGLE EVENT

#single-event-title
  padding: $margin-basic $margin-basic 0 $margin-basic

#button-tickets
  padding: $margin-basic

// ***********************************************

// FOOTER

#footer
  padding-top: $margin-large
  padding-bottom: $margin-mid
  line-height: $font-leading-wide