h1
  font-size: 3rem
  line-height: $font-leading-basic

h2
  font-size: 2rem
  line-height: $font-leading-basic

h3
  font-size: $font-size-larger
  line-height: $font-leading-basic

.rotated-heading
  text-align: center
  transform: rotate(-4deg)

h3.rotated-heading
  padding: $margin-small

p
  margin: 0

.copy
  padding: $margin-basic
  p
    text-indent: 100% / 24
    &:first-child
      text-indent: 0
  ul
    margin: $margin-basic
    li
      list-style: circle
      list-style-position: inside

ol
  counter-reset: ordered-list-counter
  li
    margin-bottom: $margin-small
    &:before
      content: counter(ordered-list-counter)
      counter-increment: ordered-list-counter
      font-family: 'Ume UI Gothic O5', helvetica, sans-serif
      padding-right: $margin-small

// ***********************************************

// BACKGROUNDS

.background-keycolor
  background-color: $color-green

body
  &.post-type-archive-recipe, &.single-recipe
    .background-keycolor,
    #menu:after
      background-color: $color-yellow
  &.page-about-us
    .background-keycolor,
    #menu:after
      background-color: $color-blue

// ***********************************************

// BORDERS

.border-left
  border-left: $border-width solid $color-black-soft

.border-right
  border-right: $border-width solid $color-black-soft

.border-top
  border-top: $border-width solid $color-black-soft

.border-bottom
  border-bottom: $border-width solid $color-black-soft

// ***********************************************

// PADDING

.padding-basic
  padding: $margin-basic

.padding-small
  padding: $margin-small

// ***********************************************

// ALLIGNMENT

.flex-center
  display: flex
  align-items: center
  justify-content: center

.flex-left-align
  justify-content: flex-start

// ***********************************************

// LINKS

a, a:active, a:visited
  color: inherit
  text-decoration: none

// ***********************************************

// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial

.desktop-only
  display: none

.u-overflow-hidden
  overflow: hidden

.loading-overlay
  position: fixed
  z-index: 9999
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: $color-white-soft

// ***********************************************

// BLOCK FEATURED IMAGES

.attachment-col22,
.attachment-col22-5to4,
.attachment-col20,
.attachment-col14,
.attachment-col14-5to4,
.attachment-col10,
.attachment-col10-5to4,
.swiper-img
  display: block

// ***********************************************

// ARROWS

.arrow
  font-size: 1.7rem

// ***********************************************

// HEADER

#logo
  width: 180px
  height: 80px
  padding-top: $margin-tiny
  padding-bottom: $margin-tiny
  position: relative
  left: 0px
  transition: left $fast-animation-speed

#menu
  position: relative
  color: white
  ul
    display: inline-block
  li
    display: inline-block
    a
      padding-bottom: 2px
    &.active
      a
        border-bottom: 2px solid white
  &:after
    content: ''
    background-color: $color-green
    position: absolute
    width: 2000px
    height: 100%
    top: 0px
    left: 0
    z-index: -1

.menu-item
  padding: 0 $margin-small
  font-size: 1.5rem

#qtranslate-chooser
  padding-left: $margin-basic
  font-size: .9rem

// ***********************************************

// INDEX

.pagination-block
  height: 5rem
  position: relative

#pagination-previous:after
  content: ''
  background-color: $color-yellow
  position: absolute
  width: 2000px
  height: 100%
  top: 0px
  right: 0
  z-index: -1

#pagination-next:after
  content: ''
  background-color: $color-blue
  position: absolute
  width: 2000px
  height: 100%
  top: 0px
  left: 0
  z-index: -1

// ***********************************************

// PAGE

  // ABOUT US

.about-person
  margin-bottom: $margin-basic

// ***********************************************

// RECIPE INDEX

.taxonomy-ingredient
  text-transform: capitalize
  &:after
    content: ', '
  &:last-child:after
    content: ''

// ***********************************************

// SINGLE JOURNAL



// SINGLE RECIPE

#single-recipe-ingredients-heading
  margin-top: $margin-basic

// ***********************************************

// SINGLE EVENT

#single-event-title
  padding: $margin-basic $margin-basic 0 $margin-basic

#button-tickets
  width: 100%
  background-color: $color-green
  color: $color-white-soft
  padding: $margin-basic
  border: 0
  &:focus
    outline: 0

// ***********************************************

// FOOTER

#footer
  padding-top: $margin-large
  padding-bottom: $margin-mid
  color: white
  line-height: $font-leading-wide